[Unit]
Description="Api Service for Tissue Store"

[Service]
User=tissue
WorkingDirectory=/home/tissue/Tissue/Sink
ExecStart=/home/tissue/.cargo/bin/cargo run --release

[Install]
WantedBy=multi-user.target
