[Unit]
Description="Silk API service"

[Service]
User=tissue
EnvironmentFile=/home/tissue/.cargo/env
WorkingDirectory=/home/tissue/Tissue/Sink
ExecStart=cargo run --release

[Install]
WantedBy=multi-user.target
